@import "common";


.section:nth-of-type(1) {
    width: 100%;
    height: 100vh;
    position: relative;

    &.active {
        h2 {
            em {
                animation: transNon .8s cubic-bezier(.39, .575, .565, 1) forwards;

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        animation-delay:calc(#{$i} * 0.05s + .8s);
                    }
                }
            }
        }

        .profile {
            .name {
                animation: fadeIn .3s 1.5s ease-in forwards;
            }

            .desc {
                animation: fadeIn .8s 1.8s ease-in forwards;
            }
        }
    }

    h2 {
        position: absolute;
        width: 100%;
        text-align:center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -65%);
        z-index: 9;

        em {
            display:inline-block;
            font-size: 20vw;
            font-weight: 200;
            transform-origin: 100% center;
            // transform: rotateY(-90deg) translateX(2.5rem) scale(.86);
            transform: perspective(3em) rotateY(90deg) translateX(2.5rem) scale(.86);
            letter-spacing: -0.035em;
        }
    }

    figure {
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        img {
            height: 100%;
            object-fit: contain;
            object-position:bottom right;
            filter: grayscale(100%);
        }
    }

    .profile {
        width: 58%;
        // margin: 0 auto;
        padding: 0 3rem 0 3rem;
        position: absolute;
        left: 50%;
        top: 68%;
        transform: translateX(-50%);


        .name {
            opacity: 0;

            b {
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 1.6em;
            }

            p {
                color: #dddddd;
            }
        }

        .desc {
            display: flex;
            justify-content: flex-start;
            padding-top: 1em;
            opacity: 0;

            .contact {
                width: 45%;

                p {
                    white-space: pre-line;
                    line-height: 1.5em;
                    color: #dddddd;
                }
            }

            .edu {
                width: 55%;

                p {
                    z-index: 9;
                    white-space: pre-line;
                    line-height: 1.5em;
                    color: #dddddd;
                }
            }
        }
    }
}

.section:nth-of-type(2) {
    opacity: 0;

    &.active {
        opacity: 1;
        transition: 1.3s;
    }
    
    h2 {
        width: 58%;
        font-size: 2.5rem;
        font-weight: 400;
        position: absolute;
        left: 50%;
        top: 12vh;
        transform: translatex(-50%);
    }
    .sec_02_cont {
        width: 58%;
        height: 70vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        top: 5%;

        .skill {
            width: 30%;
            height: 40%;
            background-color: #d9d9d9;
            position:relative;
            transition: filter .3s ease-in ;
            cursor: pointer;

            

            &.active{
                i{
                    top:30%;
                }

                b{
                    animation: fadeIn .2s .4s linear forwards;
                }

                p{
                    animation: fadeIn .3s .5s linear forwards;
                }
            }

            &.gray {
                filter:brightness(20%);
            }

            @for $i from 1 through 6 {
                &:nth-of-type(#{$i})>i {
                    background-position-x:calc(#{$i} * -70px + 70px)
                }
            }

            i {
                display: block;
                width: 70px;
                height: 70px;
                position:absolute;
                left:50%; top:50%;
                transform:translate(-50%, -50%);
                transition: top .2s ease;
                font-size: 0;
                background: url("../img/skill.png") no-repeat;
                
            }

            b{
                display:block;
                position:absolute;
                left:50%; top:50%;
                transform:translateX(-50%);
                font-size:1.25em;
                color:#000000;
                text-align:center;
                opacity:0;
            }
            p {
                width: 80%;
                height:40%;
                margin: 0 auto;
                position:absolute;
                left:50%; bottom:0;
                transform:translateX(-50%);
                display:table;
                color: #222222;
                line-height: 1.5em;
                opacity: 0;
                span{
                    display:table-cell;
                    vertical-align:middle;
                }
            }
        }
    }
}

.section:nth-of-type(3) {
    opacity: 0;

    &.active {
        opacity: 1;
        transition: 1.3s;
    }

    h2 {
        width: 58%;
        font-size: 2.5rem;
        font-weight: 400;
        position: absolute;
        left: 50%;
        top: 12vh;
        transform: translatex(-50%);
    }

    .swiper.story {
        width: 58%;
        margin: 0 auto;
        overflow: visible;

        .swiper-wrapper {


            .swiper-slide {
                display: flex;
                justify-content: space-between;
                background-color:#000000;

                figure {
                    width: 55%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .cont_right {
                    width: 40%;
                    margin-top: 3%;

                    h3 {
                        color: #ffef03;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 300;
                        font-size: 1.25rem;

                        &:after {
                            content: '';
                            display: inline-block;
                            margin-left: 10px;
                            width: 30px;
                            height: 100%;
                            border-bottom: solid 1px #ffef03;
                        }
                    }
                    div{
                        margin-top:3em;

                        b {
                            font-weight: 400;
                        }
    
                        p {
                            color: #dddddd;
                            line-height: 1.5em;
                            margin:2em 0 ;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            bottom:-20%;
            vertical-align: middle;

            .swiper-pagination-bullet {
                display: inline-block;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                background-color: #fff;
                position: relative;
                vertical-align: middle;
                opacity: 1;
                margin: 0 1.5em;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #fff;
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    z-index: 2;
                    transform-origin: center center;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    transform-origin: center center;
                }

                &.swiper-pagination-bullet-active {
                    &::before {
                        border: 0.4rem solid #ffef03;
                    }

                    &::after {
                        background-color: #ffef03;
                        animation: dot 1s linear infinite;
                    }
                }
            }
        }
    }
}




@media (min-width:768px) and (max-width:1024px){
    .section:nth-of-type(1) {
        h2{
            top:35vh;
            em{
                font-size:25vw;
            }
        }
        .profile{
            width:80%;
            top:58vh;
            font-size:14px;
            .desc{
                flex-direction: column;
                .contact{
                    width:100%;
                    margin:3em 0;
                }
                .edu{width:100%}
            }
        }
    }

    .section:nth-of-type(2){
        h2{width:80%;}
        .sec_02_cont{
            width:80%;
            justify-content: space-evenly;
            .skill{
                width:40%;
                height:30%;
            }
        }
    }

    .section:nth-of-type(3) {
        h2{width:80%;}
        .swiper.story{
            width:80%;
            margin-top:15vh;
            .swiper-wrapper{
                .swiper-slide{
                    flex-direction: column;
                    figure{width:100%;}
                    .cont_right{
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        width:100%;
                        h3{
                            width:30%;
                            font-size:1.5em;
                            margin:0 auto;
                            text-align:center;
                        }
                        div{
                            width:65%;
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom:-5% !important;
        }
    }
}

@media (min-width:360px) and (max-width:767px){
    .section:nth-of-type(1) {
        h2{
            top:35vh;
            em{
                font-size:30vw;
            }
        }
        .profile{
            width:75%;
            top:58vh;
            padding:0;
        
            .desc{
                flex-direction: column;
                .contact{
                    width:100%;
                    margin:2em 0;
                }
                .edu{width:100%}
            }
        }
    }

    .section:nth-of-type(2){
        h2{width:87.5%;}
        .sec_02_cont{
            width:87.5%;
            justify-content: space-evenly;
            .skill{
                width:46%;
                height:32%;
                font-size:10px;
                i{
                    transform:translate(-50%, -50%) scale(0.6);
                }
            }
        }
    }

    .section:nth-of-type(3) {
        h2{width:87.5%;}
        .swiper.story{
            width:87.5%;
            margin-top:20%;
            .swiper-wrapper{
                .swiper-slide{
                    flex-direction: column;
                    figure{width:100%;}
                    .cont_right{
                        width:100%;
                        h3{
                            width:100%;
                            font-size:1.25em;
                        }
                        div{
                            width:100%;
                            margin-top:1.5em;
                            p{
                                margin:1em 0;
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom:-5vh !important;
        }
    }
}
