@import "common";




.section:nth-of-type(1) {
    width: 100%;
    height: 100vh;
    opacity: 0;
    &.active {
        opacity: 1;

        .sec_01_cont {
            width: 58%;
            margin: 0 auto;
            padding: 2% 5%;

            @for $i from 1 through 4 {
                p:nth-of-type(#{$i}) {
                    border-bottom: solid 1px #ffffff;
                    overflow: hidden;
                    display: inline-block;
                    padding: 0 2.2% 2.8%;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: line .5s .8s ease-in forwards;

                    span {
                        display: inline-block;
                        font-weight: 500;
                        font-size: 9.5rem;
                        letter-spacing: -0.035em;
                        line-height: 9.5rem;
                        transform: translateY(120%);
                        animation: rise 0.5s linear forwards;
                        animation-delay:calc(2s - 0.#{$i*2}s);
                    }
                }
            }

            p:nth-of-type(4) {
                margin-left: 25%;
            }

        }
    }
}

.section:nth-of-type(2) {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    
    &.active {
        opacity: 1;
        transition: 1.3s;
    }

    h2 {
        font-weight: 200;
        font-size: 0.875rem;
        display: inline-block;
        position: absolute;
        left: 0%;
        top: 4%;
        transform: rotate(270deg) translate(-100%, 100%);
        transform-origin: right;

        &::after {
            content: '';
            display: inline-block;
            width: 30px;
            height: 100%;
            border-bottom: solid 1px #ffffff;
            margin-left: 10px;
        }
    }

    .swiper.works {
        overflow: unset;
        width: 100%;
        margin-top:8%;
        .swiper-wrapper {
            .swiper-slide {
                .works_cont {
                    width: 93.75%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;

                    figure {
                        width: 73.9%;
                        position: relative;

                        img {
                            width: 100%;
                            height:100%;
                            object-fit:contain;
                        }

                        figcaption {
                            display: inline-block;
                            font-weight: 700;
                            font-size: 1.6rem;
                            letter-spacing: 0.3em;
                            color: rgba(255, 255, 255, 0.2);
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translateY(-130%)
                        }
                    }

                    div {
                        width: 23%;

                        p {
                            white-space: pre-line;
                            color: rgba(255, 255, 255, 0.4);
                            letter-spacing: 0.04em;
                        }

                        h3 {
                            font-weight: 400;
                            font-size: 4.75rem;
                            letter-spacing: -0.03em;
                            padding: 2rem 0;
                        }

                        button {
                            cursor: pointer;
                            width: 55.5%;
                            padding: 1.2rem 1.9rem;
                            background-color: #000000;
                            border: solid 1px rgba(255, 255, 255, 0.2);
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            z-index: 9;
                            
                            &:hover > span{
                                text-shadow: 0 0 2px #ffef03;
                            }

                            span {
                                color: #ffef03;
                                font-family: 'Comfortaa', cursive;
                                font-weight: 300;
                                font-size: 1.15rem;
                            }

                            p {
                                content: '';
                                display: inline-block;
                                width: 0.8rem;
                                margin: auto 0;
                                border-top: solid 2px rgba(255, 255, 255, 0.4);
                                transform: translateY(50%);
                            }
                        }

                        b {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            font-size: 21.87rem;
                            font-weight: 400;
                            line-height: 0.577em;
                            color: rgba(255, 255, 255, 0.2);
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            left:0;
            top:100%;
            background:rgba(255, 255, 255, 0.2);
            span{
                background:rgba(255, 255, 255, 0.8);
            }
        }
    }

    // @for $i from 1 through 4{
    //     .pup_01{
    //         border-top:solid 1px #ffffff; 
    //         border-bottom:solid 1px #ffffff;
    //         background-color:#000000;
    //         width:100%; height:2px;
    //         overflow:scroll;
    //         position:fixed;
    //         left:0; top:0;
    //         transform: scaleX(0);
    //         transform-origin: 100% 0;
    //         z-index:999;

    //         &.active {
    //             animation: curtain 2s ease-in forwards;
    //         }

    //         .pupX{
    //             width: 32px;
    //             height: 32px;
    //             position: fixed;
    //             right:0; top:0;
    //             margin: 1% 2% 0 0;
    //             cursor: pointer;

    //             span {

    //                 display: inline-block;
    //                 width: 100%;
    //                 border-bottom: solid 1px #ffffff;
    //                 position: absolute;
    //                 left: 0;
    //                 transition: .3s .5s;

    //                 &:nth-of-type(1) {
    //                     top: 50%;
    //                     transform: translateY(-50%) rotate(45deg);
    //                 }

    //                 &:nth-of-type(2) {
    //                     bottom: 50%;
    //                     transform: translateY(50%) rotate(-45deg);
    //                 }
    //             }
    //         }
    //         .secP_01{
    //             width:87.5%;
    //             margin: 0 auto;
    //             padding: 10vh 0;
    //             display:flex;
    //             gap:5%;
    //             position:relative;

    //             .mockup{
    //                 width:39%;
    //                 figure{
    //                     width:100%;
    //                     img{
    //                         width:100%;
    //                     }
    //                 }
    //             }
    //             .info{
    //                 position:relative;
    //                 width:39%;
    //                 h3{
    //                     font-weight: 400;
    //                     font-size: 4rem;
    //                     letter-spacing: -0.03em;
    //                     b{
    //                         font-size:1.2rem;
    //                     }
    //                 }
    //                 p{
    //                     strong{
    //                         color:#ffffff;
    //                         font-size:1.25em;    
    //                         font-weight:600;
    //                         line-height:3em;
    //                     }
    //                     font-size:1.25em;
    //                     white-space: pre-line;
    //                     line-height:1.8em;
    //                     color:#eeeeee;
    //                     span{
    //                         font-size:1rem;
    //                         line-height: 3em;
    //                     }
    //                 }
    //                 button {
    //                     cursor:pointer;
    //                     position:absolute;
    //                     right:0; bottom:0;
    //                     width: 35.5%;
    //                     padding: 1.2rem 1.9rem;
    //                     background-color: #000000;
    //                     border: solid 1px rgba(255, 255, 255, 0.2);
    //                     display: flex;
    //                     justify-content: space-between;
    //                     z-index: 9;

    //                     span {
    //                         color: #ffef03;
    //                         font-family: 'Comfortaa', cursive;
    //                         font-weight: 300;
    //                         font-size: 1.15rem;
    //                     }

    //                     p {
    //                         content: '';
    //                         display: inline-block;
    //                         width: 0.8rem;
    //                         margin: auto 0;
    //                         border-top: solid 2px rgba(255, 255, 255, 0.4);
    //                         transform: translateY(50%);
    //                     }
    //                 }
    //             }
    //             .num{
    //                 b{
    //                     position: absolute;
    //                     right: 0;
    //                     bottom: 0;
    //                     font-size: 21.87rem;
    //                     font-weight: 400;
    //                     line-height: 0.577em;
    //                     color: #333333;
    //                     z-index: 1;
    //                 }
    //             }
    //         }

    //         .secP_02{
    //             width:100%;
    //             background-color:#333333;
    //             .secP_02_cont{
    //                 width:87.5%;
    //                 margin:0 auto;
    //                 padding:5vh 0;
    //                 h4{
    //                     color:#ffffff;
    //                     font-size:2.5em;    
    //                     font-weight:200;
    //                     line-height:1.5em;
    //                 }
    //                 .fx_detail{
    //                     width:100%;
    //                     display:flex;
    //                     justify-content: space-evenly;
    //                     p{
    //                         span{
    //                             color:#ffffff;
    //                             font-size:1.3em;    
    //                             font-weight:600;
    //                             line-height:2rem;
    //                         }
    //                         width:23.5%;
    //                         font-size:1.25em;
    //                         white-space: pre-line;
    //                         line-height:1.8em;
    //                         color:#eeeeee;
    //                     }
    //                 }
    //             }
    //         }
    //         .secP_03{
    //             width:100%;
    //             figure{
    //                 width:100%;
    //                 img{width:100%}
    //             }
    //         }
    //         .secP_04{
    //             margin: 5vh auto;

    //             button {
    //                 cursor:pointer;
    //                 width: 15.5%;
    //                 margin:0 auto;
    //                 padding: 1.2rem 1.9rem;
    //                 background-color: #000000;
    //                 border: solid 1px rgba(255, 255, 255, 0.2);
    //                 display: flex;
    //                 justify-content: space-between;
    //                 z-index: 9;

    //                 span {
    //                     color: #ffef03;
    //                     font-family: 'Comfortaa', cursive;
    //                     font-weight: 300;
    //                     font-size: 1.15rem;
    //                 }

    //                 p {
    //                     content: '';
    //                     display: inline-block;
    //                     width: 0.8rem;
    //                     margin: auto 0;
    //                     border-top: solid 2px rgba(255, 255, 255, 0.4);
    //                     transform: translateY(50%);
    //                 }
    //             }
    //         }
    //     }
    // }
}

// .section:nth-of-type(3) {
//     width: 100%;
//     height: 100vh;
//     margin: 0 auto;
//     position: relative;

//     h2 {
//         font-weight: 200;
//         font-size: 0.875rem;
//         display: inline-block;
//         transform: rotate(270deg) translate(100%, 100%);
//         transform-origin: right;

//         &::after {
//             content: '';
//             display: inline-block;
//             width: 30px;
//             height: 100%;
//             border-bottom: solid 1px #ffffff;
//             margin-left: 10px;
//         }
//     }

//     div {
//         width: 87.5%; height:100vh;
//         margin: 0 auto;
//         text-align: center;
//         vertical-align:middle;

//         p {
//             cursor: pointer;
//             position:relative;
//             display: inline-block;
//             overflow: hidden;
//             transform: rotateX(-90deg) rotateY(0deg);
//             transition-property: transform;
//             transition-duration: 2s;
//             transition-timing-function: cubic-bezier(.26, 1, .48, 1);
//             transform-origin: center top;
//             perspective: 20vw;
//             &.on{
//                 transform: rotateX(0);
//                     @for $i from 1 through 10 {
//                         em:nth-of-type(#{$i}){
//                             transition-delay: calc(0.5 * #{$i}s);
//                             transform:translateY(0);
//                         }
//                 }
//             }

//             &:hover > span{width:100%}
//             em {
//                 font-style: normal;
//                 font-size: 12.3rem;
//                 font-weight: 600;
//                 letter-spacing: -0.03em;
//                 line-height: 1em;
//                 transition-property: transform;
//                 transition-duration: 1.2s;
//                 transition-timing-function: cubic-bezier(.26,1,.48,1);
//                 transform: translateY(100%);
//                 transform-origin: center bottom;
//             }

//             span {
//                 position: absolute;
//                 left:0; bottom:0;
//                 display: inline-block;
//                 width: 0%;
//                 border-top: solid 4px #ffffff;
//                 transition: width 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
//             }
//         }
//     }
// }
.section:nth-of-type(3) {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    
    &.active {
        opacity:1;
        transition: 1.3s;

        .sec_03_cont {
            .about {
                transform: rotateX(0);

                @for $i from 1 through 12 {
                    em:nth-of-type(#{$i}) {
                        transition-delay: calc(#{$i} * 0.05s - 0.05s);
                        transform: none;
                    }
                }
            }
        }
    }

    h2 {
        font-weight: 200;
        font-size: 0.875rem;
        display: inline-block;
        position: absolute;
        left: 0%;
        top: 4%;
        transform: rotate(270deg) translate(-100%, 100%);
        transform-origin: right;

        &::after {
            content: '';
            display: inline-block;
            width: 30px;
            height: 100%;
            border-bottom: solid 1px #ffffff;
            margin-left: 10px;
        }
    }

    .sec_03_cont {
        width: 87.5%;
        margin: 0 auto;
        text-align: center;

        .about {
            cursor: pointer;
            position: relative;
            display: inline-block;
            overflow: hidden;

            &:hover>a>span {
                width: 100%
            }

            a {
                color: #ffffff;

                em {
                    display: inline-block;
                    font-style: normal;
                    font-size: 12.3rem;
                    font-weight: 600;
                    letter-spacing: -0.03em;
                    line-height: 1em;
                    transition-property: transform;
                    transition-duration: 1.4s;
                    transition-timing-function: cubic-bezier(.26, 1, .48, 1);
                    transform: translateY(50%) rotateX(-90deg) scale(0.86);
                    transform-origin: center bottom;
                    perspective: 20vw;

                }

                span {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: inline-block;
                    width: 0%;
                    border-top: solid 4px #ffffff;
                    transition: width 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
                }
            }
        }
    }
}